@tailwind base;
@tailwind components;
@tailwind utilities;

.blob{
    position: relative;
    background-color: red;
    border-radius:49% 51% 48% 52% / 35% 32% 68% 65% ;
    width: 500px;
    height: 500px;
}

.postionbar{
    height: 10px;
    position: fixed;
    transform-origin: 0%;
    background-color: red;
    width: 100vw;
    z-index: 999;
}

.ul{
    display: flex;
    position: relative;
    height: 200px;
    width: 1200px;
}
.li{
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 0 20px;

}


