
.NavbarItem{
  display: flex;
  flex-direction: column;
  position: relative;
}
.NavbarItem:hover{
  color: black;
  font-weight: 500;
}
.NavbarItem::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  top: 27px;
  background-color: rgb(0, 145, 255);
  transform: scaleX(0); /* Initially not visible */
transform-origin: bottom right; /* Animation starts from right */
transition: transform 0.3s ease; /* Transition effect */      
}
.NavbarItem:hover::after{
  width: 100%;
  transform: scaleX(1); /* Scale the underline to full width */
transform-origin: bottom left; /* Animation ends at left */
}

.navbtn{
  display:none ;
}

@media (max-width: 420px) {
   .Navbar{
    /* border:2px solid black; */
    display: flex;
    height: 150px;
    justify-content: center;      
    align-items: center;
  }
  .logo{
    font-size: 1rem;
    margin-top: -5rem;
  }
  .SmallMenu{
 display: none;
  }
  .Menu{
    display: block;
   width: 460px;
   height: auto;
   position: absolute;
   top: 150px;
   background-color: white;
   z-index: 999;
   box-shadow: 0px 0px 0px 0px black; 
  }
  .menuLink{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .menuLink:hover{
      background-color: black;
      color:white;
    }
    .menuLink:active{
      color: white;
    }
  .navbtn{
   display: block;
   width: 50px;
   margin: 10px 10px;
   /* border: 2px solid black; */
   position: relative;
   left: 2rem;
  }
  .Navbtn{
    /* border:2px solid black ; */
    position: relative;
    width: 100px;
    top: -1rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    align-self: center;

  }
  .login,.signup{
    width: 80px;
    margin: 5px 3px;
  }
   .logo{
    /* border: 2px solid red; */
    position: relative;
    top:2.5rem;
    left: -4.5rem;
    font-size: 2rem;
  }
  
}